* {
  margin: 0;
  margin: 0;
}
body {
 	font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2", "Lucida Grande", Geneva, Arial, Verdana, sans-serif;
 	background: #FFF;
	width: 1000px;
	margin:auto;
}

h1 {
  color: #FFF;
  font-size: 8em;
  text-align: center;
  margin-top: 200px;
  margin-bottom: 100px;
}
h1.Ceramics{
	color: #E39D9D;
	font-size: 4em;
	margin-top: 15px;
}

h1.Food{
	color: #BEEBBC;
	font-size: 4em;
	margin-top: 15px;
}
h1.Places{
	color: #9DA5E3;
	font-size: 4em;
	margin-top: 15px;
}


h2 {
	color: #E39D9D;
	font-size: 2em;
	text-align: center;
}

p {margin-left: 400px;
	
}

a {
	text-decoration:none;
}

a.Ceramics{
	color:#E39D9D;
	margin-right: 50px;
	margin-left: 50px;
}

/*227, 157, 157*/
/*208, 196, 172*/

a.Food{
	color:#BEEBBC;
	margin-right: 50px;
	margin-left: 50px;
}

/*190, 235, 188*/
/*173, 203, 207*/

a.Places{
	color:#9DA5E3;
	margin-right: 50px;
	margin-left: 50px;

}

/*157 172 227*/
/*192, 164, 192*/

a.About{
	color: rgb(173, 203, 207);
	text-align: center;
	padding: 20px;	
}

a.Contact{
	color: rgb(192, 164, 192);
	text-align: center;
	padding: 20px;		
}

a:hover{
	border-bottom: solid 5px;
}
	
div.row{
	text-align:center;
	
}
img{
	margin:10px;
	box-shadow: 10px 10px 5px #E6E6E6;
}
