* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2", "Lucida Grande", Geneva, Arial, Verdana, sans-serif;
  background: #FFF;
}
h1 {
  color: #FFF;
  font-size: 8em;
  text-align: center;
  padding-top: 150px;
  padding-bottom: 50px;
}
